* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

html, body {
    min-height: 100vh;
}
@media screen and ( min-width: 1500px ) {
    html {
        font-size: 1.25rem;
    }
 }
#root {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #006466;
}

main {
    width: 100%;
}

.mt-1 {
    margin-top: .3125em;
}

.mt-5 {
    margin-top: 1.25em;
}

.mb-1 {
    margin-bottom: .3125em;
}

.mb-5 {
    margin-bottom: 1.25em;
}

.pointer {
    cursor: pointer;
}